.wrapper {
  border: 3px solid #39c639;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  height: calc(100% - 60px);
}

.logo {
  background: url("https://hopers.io/others/hopeHeaderLogo.png");
  background-size: cover;
  background-position: center;
  width: 124px;
  height: 30px;
  cursor: pointer;
}

.logo-dark {
  background: url("https://hopers.io/others/hopeHeaderLogo_dark.png");
  background-size: cover;
  background-position: center;
  width: 124px;
  height: 30px;
  cursor: pointer;
}

.swapDirection {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}

.styledSvg {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.tokenSelectContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tokenIcon {
  width: 35px;
  height: 35px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.swapDirectionContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.swapDirectionItem {
  font-weight: bold;
  cursor: pointer;
}

// export const SwapDirectionItem = styled.div<{ checked: boolean }>`
  
//   color: ${({ checked }) => (checked ? "#39c639" : "black")};
// `;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px 20px;
  margin: 30px 10px 20px;
}

.amountInputer {
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 20px;
  margin: 0 0 10px;
  padding: 0.5rem 1rem;
  width: 80%;
}

.errMsgContainer {
  width: 80%;
  height: 34px;
  text-align: left;
  color: red;
}

.operationButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.operationButton {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.75;
  text-transform: capitalize;
  min-width: 64px;
  padding: 6px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #39c639;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2)
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    text-decoration: none;
    background-color: #1b5e20;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12),
      0px 4px 5px 0px rgba(0, 0, 0 ,0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}

.cancelButton {
  background-color: #C63939;
  &:hover {
    background-color: #811313;
  }
}
